<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>
<body>
    
    <div id="app">

        <div class="containerBigger">
            <header>
                <img src="./img/spotify-logo.png" alt="">
                <select v-model="selectedGenre" v-on:change="filter" name="genre" id="genre">
                    <option value="All">All</option>
                    <option value="Rock">Rock</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Pop">Pop</option>
                </select>
            </header>
            
            <div class="containerBig">
                <div class="container">

                    <div class="card" v-for="record in records">
                        <div class="card-info">
                            <img :src="record.poster" :alt=record.title>
                            <div class="card-more-info">
                                <div class="card-title">
                                    <h2>{{record.title}}</h2> 
                                </div>
                                <div class="card-other-info">
                                    <div>{{record.author}}</div>
                                    <div>{{record.year}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/script_bonus1.js"></script>
</body>
</html>